fastapi
uvicorn
python-multipart
opencv-python
google-genai
Pillow
pytest
httpx
python-multipart
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
email-validator
mailjet-rest
Authlib
itsdangerous
httpx
stripe
slowapi
